torch
torchvision
transformers
opencv-python
pillow
numpy
Model Files Required:
    1. colorization_deploy_v2.prototxt
    2. colorization_release_v2.caffemodel (125 MB)
    3. pts_in_hull.npy
    
Download LINK: https://github.com/richzhang/colorization/tree/caffe/colorization/models
 https://www.dropbox.com/s/dx0qvhhp5hbcx7z/colorization_release_v2.caffemodel
